.bodySlider {
    width: 100%;
    padding: clamp(9px , 2.5vw, 18px) 0;
    overflow: hidden;
    position: relative;
    direction: rtl;
}



.sliderMe {
    width: max-content;
    overflow: hidden;
    display: flex;
    user-select: none;
}



.slideMe {
    transition: transform 0.5s ease-in-out;
}



.divBtnMe {
    position: absolute;
    z-index: 2;
    top: 50px;
    
}



/* 
برای عدم نمایش دکمه‌های ناوبری در تبلت و موبایل 
این کلاس توسط ری‌اکت به المان اضافه یا حذف میشود
*/
.notShowDivBtnMe{
    /* display: none !important; */
}

/* @media screen and (min-width:769px){
    .divBtnMe {
        
        display: block !important;
    }
} */


.divBtnMeRight {
    right: 6px;
    display: none;
}



.divBtnMeLeft {
    left: 6px;
}



.btnMe {
    width: 35px;
    height: 35px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #9192a6;
    color: #85869b;
    background-color: #ffffff;
    font-size: 28px;
}

/* ------------- انواع استایل بندی اسلاید ها ------------------- */

/* 
* برای نمایش اسلایدها از چندین استایل متفاوت استفاده می‌کنیم
* بسته به نوع کارکرد اسلایدر استایل بند متفاوتی برای اسلایدها در نظر گرفته ایم
*/


/* --------- normal style ------------- */
.title_normal_me,
.container_normal_me,
.more_normal_me {
    width: 106px;
    height: 177px;
    display: flex;
    flex-direction: column;
}

/* استایل دهی title کامپوننت productSlider */
.title_normal_me {
    justify-content: center;
    align-items: center;
}



.titleH2_normal_me {
    height: 25%;
    line-height: 50%;
    font-size: 1.3rem;
    color: #ffffff;
}



.divTitleImg_normal_me {
    position: relative;
}



.titleImg_normal_me {
    width: 100%;
    height: auto;
}



.container_normal_me {
    margin: 0 clamp(0.5px, 0.15vw, 1.2px);
    background-color: #fff;
    cursor: pointer;
}



.firstContainer_normal_me {
    border-radius: 0 1vw 1vw 0;
}



.divImg_normal_me {
    width: 100%;
    padding: 2px 5px;
    position: relative;
}



.img_normal_me {
    width: 100%;
    height: auto;
}



/* فقط برای عدم کشیده شدن تصویر هنگامی که کاربر مبادرت به کشیدن اسلایدر با موس میکند */
.noDragImg_normal_me {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}



.name_normal_me {
    font-size: 1rem;
}



.shop_normal_me {
    font-size: 0.6rem;
}



.price_normal_me {
    font-size: 0.9rem;
}



.oldPrice_normal_me {
    font-size: 0.5rem;
}



.more_normal_me {
    margin: 0 2px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 8px 0 0 8px;
}



.moreBtn_normal_me {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: inherit;
    border: none;
}



.moreBtnIcon_normal_me {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #a0bac4;
    color: #a0bac4;
    background-color: #dcf0f7;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;

}



.moreBrnText_normal_me {}